* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin-top: 35px;
}

h1, p {
    font-family: "Helvetica Neue", "Helvetica", "Trebuchet MS", sans-serif;
}

h1 {
    font-size: 28pt;
    font-weight: 500;
}

.post h1 a {
    color: #0066cc;
}

.post h1 a:hover {
    color: #399afb;
}

.features {
    margin-bottom:50px;
    border-left:4px solid #0066cc;
    padding-left:50px;
}

p {
    font-size: 16pt;
    font-weight: 300;
    line-height: 150%;
}


a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

/* LAYOUT CSS */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.header {
    margin: 50% 2em 0;
    text-align: right;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: #fff;
}
.banner {
    background:  url('https://raw.githubusercontent.com/EastOfState/eastofstate.github.com/master/img/skyline-blur.jpg') 0 0 no-repeat ;
    text-align: center;
    background-size: cover;
    height: 220px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}
.logo {
    text-align: left;
    margin-top: 25px;
    margin-left: 25px;
}
.caption {
    float:right;
    margin-bottom:25px;
    padding:10px;
    text-align:right;
    background:white;
    opacity:0.8;
    font-size: 16pt;
    font-weight: 300;
    line-height: 150%;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 3px solid white;
    color: #fff;
    margin-top: 1em;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 3px solid rgb(142, 142, 214);
    color: rgb(142, 142, 214);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.continue {
    text-transform: uppercase;
    color: #aaa;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 0px 100px 0;
}

.post {
    padding-bottom: 2em;
}
.post a:hover {
    border-bottom-color: #0066cc;
    color: #0066cc;
}
    
.post-title {
    font-size: 28pt;
    font-weight: 500;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #9c9c9c;
    font-size: 11pt;
    margin: 0;
}
.post-description a {
    border-bottom: 1px dotted;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

/*.footer {
    width: 100%;
    margin: 25px 100px;
    border-top: 1px solid #b7b7b7;
    }*/
.footer {
    border-top: 1px solid #b7b7b7;
    margin: 50px 100px 25px 100px;
}

.footer p {
    color: #9c9c9c;
    font-size: 12pt;
}

.footer .social {
    text-align: right;
}

.social img {
    opacity: 0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
}

.social img:hover {
    opacity: 1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}
