body {
    margin-top: 35px;
}

h1, p {
    font-family: "Helvetica Neue", sans-serif;
}

h1 {
    font-size: 28pt;
    font-weight: 500;
}

p {
    font-size: 16pt;
    font-weight: 300;
    line-height: 150%;
}

.splash {
    background: transparent url('http://eastofstate.com/img/skyline-day.jpg') 0 0 no-repeat ;
}

.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.banner {
    background: transparent url('http://eastofstate.com/img/westside-storey/west-side-banner.jpg') 0 0 no-repeat ;
    text-align: center;
    background-size: cover;
    height: 375px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

.logo {
    text-align: left;
    margin: 25px;
}

.logo img {
    opacity: 0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
}

.logo img:hover {
    opacity: 1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

.article, .video, .highlights-header, .highlights, .editor, .footer {
    margin-left: 100px;
    margin-right: 100px;
}

.article, .video, .highlights, .editor, .footer {
    margin-top: 25px;
    margin-bottom: 25px;
}

.article a {
    border-bottom: 1px dotted;
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.article a:hover {
    border-bottom-color: #0066cc;
    color: #0066cc;
}

.article #author {
    margin: 0;
    color: #9c9c9c;
    font-size: 12pt;
}

.article h1 {
    margin-top: 0;
}

.inline {
    float:right;
    caption-side:right;
    margin: 25px;
}
 
.photo {
    width: 300px;
    float: right;
    caption-side: right;
    margin-left: 20px;
}

.photo img {
    width: 100%;
}

.photo-caption {
    display: block;
    color: #4a4a4a;
    text-align: right;
    font-style: italic;
}

.video {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.youtube-embed {
    width: 900px;
    height: 505px;
}

.highlights {
    margin-top: 0px;
}

.highlight-box {
    margin: 10px;
}

.editor {
    padding-top: 25px;
}

.editor #avatar {
    width: 80px;
    height: 80px;
    float:left;
}

.editor-text {
    float:left;
    margin-right: 50px;
    margin-left: 50px;
    height: 80px;
}

.editor-text p {
    line-height: 125%;
    font-size: 12pt;
}

.editor-text .name {
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 0;
}

.editor-text .title {
    margin-top: 0;
    margin-bottom: 0;
}

.footer {
    border-top: 1px solid #b7b7b7;
    margin-top: 50px;
}

.footer p {
    color: #9c9c9c;
    font-size: 12pt;
}
